                                                                                
body {
    background-color: #00b5e2;
    font-family: Arial, sans-serif;
    font-size: 12pt;

}

canvas {
    background-color: black;

    padding-left: 0;
    padding-right: 0;

    margin-left: 0%;
    margin-right: 0%;
    display: block;
    width: 100%;

    border:3px solid #d3d3d3;
}

#block_container {
    margin: 2em 0;
}

.block_container {
    margin: 1em 0;
}

.block_container label {
    display: block;
    margin-left: 10%;
    background-color: #003B5C;
    color: white;
}
.block_container select,
.block_container input[type="range"],
.block_container input[type="checkbox"],
.block_container input[type="number"],
.block_container output {
    margin-left: 10%;
}
h1 {
    font-size: 30pt;
    font-family: arial;
    color: black;
    text-align: center;
}

h2 {
    font-size: 15pt;
    font-family: arial;
    color: black;
    text-align: center;
}

